main {
    min-height: 630px;
    gap: 10px;
    justify-content: start;
}

div p {
    margin: 0;
    line-height: 1.4;
}

#settings {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#delete-button {
    max-width: 150px;
}

#vr-div {
    min-height: 200px;
    overflow: scroll;
    margin-bottom: 10px;
    box-sizing: content-box;
}

#vrt {
    border: solid 1px black;
    border-collapse: collapse;
    width: 100%;
    overflow: scroll;
}
#vrt-header-row th {
    color: #e63946;
    text-decoration: underline;
    padding: 10px;
}
#vrt td {
    border: dotted 1px black;
    padding: 5px;
}