/* for all pages, ex header/nav bar */

/*
TODO:
- fix nav links to center vertically
- make body flex according to nav bar while keeping nav on top
- footer
*/
html { height: 100%; }
body {
    font-family: sans-serif;
    /* box-sizing: border-box; */
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.link {
    text-decoration: none;
}
.link::before {
    color: black;
}
.link::after {
    color: #3c4444;
}


header {
    position: fixed;
    flex: 0 100px;
    margin: 0;
    width: 100%;
    height: 100px;

    /* background-image: url(Images/earth.jpg); */
    background-color: #3c4444;
    background-position: top 30% right 0%;
    /* color: ; */
    /* border-bottom: 5px #000 solid; */

    display: flex;
    flex-direction: row;
}

#logo {
    padding: 20px;
    margin: 0;
    float: left;
    display: inline;
    flex: 0;
}
/* header h1 {
    font-size: 45px;
    padding: 20px;
    margin: 0;
    float: left;
    display: inline;
    flex: 3;
}
#logo-checkmark {
    font-size: 50px;
    color: rgb(193, 20, 20);
} */

nav {
    flex: 1;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-end;
}

nav .link {
    height: auto;
    width: auto;
    margin-right: 20px;

    color: #E63946;
    text-align: end;
    font-size: 20px;
    font-weight: bold;
}


main {
    flex: 2;
    /* flex-grow: 1; */
    flex-shrink: 0;
    margin-top: 100px;
    top: 0px;
    height: 100%;
    padding: 0px 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background-color: #f5f5f5;
}

main div {
    background-color: #d6d6d6;
    margin: 10px 0px;
    border-radius: 5px;
    padding: 15px;
    
    flex: auto;
    flex-grow: 0;
}
div h3 {
    margin: 0 0 15px;
    color: #E63946;
}
div p {
    margin-bottom: 0;
}

/* h1, h2, h3, h4, h5, h6 {
    color: #E63946;
} */

footer {
    flex: 0 100px;
    bottom: 0;
    background-color: black;
    color: white;

    display: flex;
    flex-direction: row;
}
footer div {
    flex: 7;
    background-color: transparent;
    padding-left: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer div p {
    padding: 10px;
    margin: 0;
}
footer img {
    flex: 1;
    align-self: flex-end;
}
footer .link::before {
    color: white;
    content: '';
}
footer .link::after {
    color: #d6d6d6;
    content: '';
}