/* for all pages, ex header/nav bar */

body {
    font-family: sans-serif;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/1/1f/As08-16-2593.jpg);
    background-color: transparent;
    background-position: top 25%;
    color: cadetblue;
}

#title {
    font-size: 45px;
    padding: 20px;
    margin: 0;
    float: left;
    display: inline;
}

nav .link {
    float: right;
    padding-right: 20px;
    text-decoration: none;
}