main {
    overflow: scroll;
}

#question-and-streak {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: end;
}
#question-and-streak * {
    margin: 20px 0 10px;
}

#input-buttons {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
#input-buttons div {
    display: flex;
    flex-direction: column;
}
#input-buttons button {
    border: 0;
    background-color: transparent;
    padding: 0;
}

#left-buttons p {
    text-align: right;
    padding: 5px 15px;
    font-size: 24px;
    margin: 0;
}
#left-buttons button svg {
    float: right;
}

#right-buttons p {
    padding: 5px 15px;
    font-size: 24px;
    margin: 0;
}
#right-buttons button svg {
    float: left;
}


#results {
    color: white;
    width: 100%;
    height: 200px;
}
#results th {
    padding: 5px;
    background-color: grey;
}
#results td {
    padding: 5px;
    text-align: center;
}

.results-1 {
    background-color: green;
}
.results-2 {
    background-color: orange;
}
.results-3 {
    background-color: blue;
}
.results-4 {
    background-color: red;
}

#results-responses {
    filter: brightness(100%);
}
#results-percent {
    filter: brightness(85%);
}
#results-total { 
    filter: brightness(70%); 
}

#results-div {
    flex: 0 0 275px;
    margin: 10px 0;
}