#question-and-streak {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: end;
}
#question-and-streak * {
    margin: 20px 0 10px;
}

#input-buttons {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
#input-buttons div {
    display: flex;
    flex-direction: column;
}
#input-buttons button {
    border: 0;
    background-color: transparent;
    padding: 0;
}
#left-buttons button svg {
    float: right;
}
#right-buttons button svg {
    float: left;
}