/*
TO DO:
- login form
- text prettyness
*/

#login-main {
    min-height: 350px;
    flex-direction: row;
    gap: 10px;
}

#info {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap:10px;
    justify-content: start;
    margin: 10px 0;
    max-height: 100%;
    overflow: scroll;
}
#info div {
    /* flex-grow: 0; */
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
}
#about {
    display: flex;
    flex-direction: row;
}
#about img {
    width: 200px;
    height: fit-content;
    flex: 0;
    margin-left: 10px;
}
#about div {
    min-width: 125px;
}

ol {
    margin: 10px 0 0;
    width: auto;
}

#login-and-pic {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap: 10px;
    margin: 10px 0 10px 0;

    flex: 0 0 300px;
    height: auto;
}
#world-pic {
    width: 300px;
    max-height: 300px;
    min-height: 100px;
    overflow: hidden;
    flex-grow: 1;
    box-sizing: border-box;
    justify-self: stretch;
}
#login-and-pic img {
    object-fit: cover;
    object-position: left center;
    transform: translateX(-100px) translateY(-120px);
    width: 600px;
}

#login {
    width: 270px;
    flex: 0 0 145px;
    align-self: flex-end;
    background-color: #adadad;
    justify-self: flex-start;
}
.login-element {
    margin: 5px 0;
}
p.login-element {
    flex: 0;
    max-width: fit-content;
}
input.login-element {
    flex: 1;
    margin-left: 5px;
    box-sizing: border-box;
    min-width: 0px;
}
#login span {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
}
#login-button {
    margin: 10px 0 0;
    text-align: center;
}

@media (orientation: portrait) {
    main {
        flex-direction: column;
        gap: 0px;
        align-content: flex-start;
    }

    #login-and-pic {
        width: 100%;
        flex: 1;
        min-height: 170px;
        height: 170px;
        margin-bottom: 0;
    }
    #login {
        /* width: 100%; */
        box-sizing: border-box;
        height: 100%;
        align-self: center;
    }
    #world-pic {
        display: none;
    }

    #info {
        overflow: auto;
        flex: 2;
        order: 1;
    }
}