/* for all pages, ex header/nav bar */

@font-face {
    font-family: "Pink Chicken";
    src: url(/Fonts/PinkChicken-Regular.ttf);
}

@font-face {
    font-family: "Calibri";
    src: url(/Fonts/calibri-regular.ttf);
}

html { height: 100%; }
body { margin: 0; }

#root {
    margin: 0;
    padding: 0;
}

.body {
    font-family: "Calibri", sans-serif;
    /* box-sizing: border-box; */
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
}

.link {
    text-decoration: none;
}


header {
    position: fixed;
    z-index: 1;
    flex: 0 100px;
    margin: 0;
    width: 100%;
    height: 100px;

    /* background-image: url(Images/earth.jpg); */
    background-color: #3c4444;
    /* background-position: top 30% right 0%; */
    /* color: ; */
    /* border-bottom: 5px #000 solid; */

    display: flex;
    flex-direction: row;
}

#logo {
    padding: 20px;
    margin: 0;
    float: left;
    display: inline;
    flex: 0;
    filter: drop-shadow(5px 5px);
}
/* header h1 {
    font-size: 45px;
    padding: 20px;
    margin: 0;
    float: left;
    display: inline;
    flex: 3;
}
#logo-checkmark {
    font-size: 50px;
    color: rgb(193, 20, 20);
} */

nav {
    flex: 1;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    gap: 40px;
    padding-right: 40px;
}

nav .link {
    height: auto;
    width: auto;
    /* margin-right: 20px; */

    color: #E63946;
    text-align: end;
    font-family: "Pink Chicken";
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1px;

    align-self: center;
}


.main {
    flex: 2;
    flex-grow: 1;
    flex-shrink: 0;
    margin-top: 100px;
    top: 0px;
    height: auto;
    max-height: 200vh;
    padding: 0px 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background-color: #ccc;

    min-height: calc(100vh - 170px);
}

div {
    background-color: #f0f0f0;
    margin: 0px 0px;
    border-radius: 5px;
    padding: 15px;
    
    flex: auto;
    flex-grow: 0;
}
div h3 {
    margin: 0 0 15px;
    color: #E63946;
    font-family: "Pink Chicken";
    font-size: 24px;
}
div p {
    margin-bottom: 0;
}

.no-format {
    background-color: transparent;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

h2 {
    color: #a31420;
    font-family: "Pink Chicken";
    font-size: 30px;
    margin: 10px 0 0 0;
}

h4 {
    color: #ed6e78;
    margin: 10px 0;
    font-family: "Pink Chicken";
    font-size: 19px;
}

footer {
    flex: 0 75px;
    /* bottom: 0; */
    background-color: black;
    color: white;
    height: 75px;
}
footer div {
    background-color: transparent;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    width: 100%;
}
footer div p {
    padding: 10px;
    padding-right: 40px;
    margin: 0;
    height: 20px;
    align-self: center;
}
footer img {
    flex: 0 75px;
    align-self: flex-end;
    max-height: 75px;
}
footer .link {
    color: white;
}
footer .link:visited {
    color: white;
}


@media (orientation: portrait) {
    header {
        flex-direction: column;
        flex: 1;
        height: calc(11vw + 156px);
        justify-content: stretch;
    }
    nav {
        flex-direction: column;
        gap: 0;
        padding: 0;
    }
    nav .link {
        text-align: center;
        width: 100%;
        /* height: 40px; */
        padding: 10px 0;
    }
    #nav-1 {
        background-color: #4d5656;
        /* height: auto; */
    }
    #nav-2 {
        background-color: #566161;
    }

    .main {
        margin-top: calc(11vw + 156px);
    }

    footer div {
        justify-content: space-between;
    }
    footer div p {
        padding: auto;
    }
}